body {
    font-family: Arial, Helvetica, sans-serif;
}

.cabecera{
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgb(45, 255, 157);
    padding: 10px;
    width: 50%;
    text-align: left;
}

.container{
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 0px 0px 20px 20px;
}

.comentarios p{
    font-style: italic;
    padding: 0px;
}

footer{
    margin: 0 auto;
    width: 50%;
    background-color: #272727;
    color: white;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cabecera img {
    width: 4em;
    display: inline;
    height: auto;
    vertical-align: middle;
}


.cabecera h3{
    display: inline;
    padding-left: 2em;
    vertical-align: middle;
}